* {
    margin: 0 0 0 0;
    padding: 0;
    border: none;
}

/* dyslexic friendly font design choice */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
/* placeholder color to be changed */
    color: darkslategray;
}

/* header style */

header {
    font-size: 100%;
    overflow: auto;
    background-color: aquamarine;
    width: 100%;
}

#logo {
    text-transform: uppercase; 
    margin-left: 35px;
    float: left;
}

#menu {
    padding-top: 15px;
    text-transform: capitalize;
    float: right;
    text-decoration: lightslategrey;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

/*hero image css*/

#hero-image {
    height: 480px;
    width: 100%;
    background-color: lightcoral;
}

/*climbing reasons style*/

#climbing-reasons {
    height: 1500px;
    overflow: hidden;
}

#reasons-box {
    height: 1500px;
    display: flex;
    flex-flow: column;
    background-color: black;
}

.reasons {
    height: 300px;
}

#reason-1 {
    background-color: lightsteelblue;
/*    background-image: url(../images/about1.jpg); */
}

#reason-image-1 {
    height: 300px;
    background-image: url(../images/about1.jpg);
    background-size: 100%;
}

#reason-2 {
    background-color: lightpink;
}

#reason-3 {
    background-color: lightskyblue;
}

.reasons-text {
    height: 200px;
    background-color: lightgreen;
}

#climb-more-info {
    height: 300px; 
    background-color: lightsalmon;
}

/*Olympics page CSS */


/* responsive text box 

.reasons-text-1::before {
    display: contents;
    content: "reasons text box 1";
}

.reasons-text-2 {
    display: contents;
    content: "reasons text box 1";
}

.reasons-text-3 {
    display: contents;
    content: "reasons text box 1";
}
*/

/* responsive CSS */

@media screen and (min-width: 600px) {
    .reasons-style {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 800px) {
    
    #climbing-reasons {
        height: 500px;
    }
    
    #reasons-box {
        height: 500px;
        flex-flow: row wrap;
        overflow: hidden;
    }

    .reasons {
        width: 33%;
    }

    #reason-1{
        order: 1;
    }

    #reason-2 {
        width: 34%;
        order: 2;
    }

    #reason-3 {
        order: 3;
    }

    .reasons-text {
    width: 100%;
    }

    #reasons-text-1 {
        order: 4;
    }

    #reasons-text-2 {
        order: 5;
    }

    #reasons-text-3 {
        order: 6;
    }
}