* {
    margin: 0 0 0 0;
    padding: 0;
    border: none;
}

/* dyslexic friendly font design choice */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
/* placeholder color to be changed */
    color: darkslategray;
}

/* header style */

header {
    font-size: 150%;
    overflow: auto;
    background-color: aquamarine;
    width: 100%;
}

#logo {
    text-transform: uppercase; 
    margin-left: 35px;
    float: left;
}

#menu {
    padding-top: 15px;
    text-transform: capitalize;
    float: right;
    text-decoration: lightslategrey;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

/*hero image css*/

#hero-image {
    height: 480px;
    width: 100%;
    background-color: lightcoral;
}

/*climbing reasons style*/

#climbing-reasons {
    height: 1500px;
    overflow: hidden;
}

#reasons-box {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.reasons {
    width: 33%;
    height: 300px;
}

#reason-1 {
    background-color: lightsteelblue;
}

#reason-2 {
    width: 34%;
    background-color: lightpink;
}

#reason-3 {
    background-color: lightskyblue;
}

.reasons-text {
    height: 200px;
    background-color: lightgreen;
}

#climb-more-info {
    height: 300px; 
    background-color: lightsalmon;
}

.reasons-style { 
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
}

/* responsive text box 

.reasons-text-1::before {
    display: contents;
    content: "reasons text box 1";
}

.reasons-text-2 {
    display: contents;
    content: "reasons text box 1";
}

.reasons-text-3 {
    display: contents;
    content: "reasons text box 1";
}
*/

/* responsive CSS */

@media screen and (max-width: 800px) {

#climbing-reasons {
    height: 1500px;
}

#reasons-box {
 height: 900px;
}

.reasons-style {
    width: 80%;
    min-width: 0;
}

.reasons {
    width: 100%;
    margin: 0 auto;
}

#reason-2 {
    width: 100%;
}
}